*{
    padding: 0;
    margin: 0;
}


.roxo{
    background-color: #563D7C;
}

.icone{
    font-size: 25pt !important;
}

input{
    width: 150px !important;
    height: 150px !important;
    font-size: 50pt !important;
    text-align: center !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Configuração tipo o webkit acima para o mozila */
input[type="number"] {
    -moz-appearance: none;
}
/* /Configuração tipo o webkit acima para o mozila */

.display-none{
    display: none !important;
}

.display-block{
    display: block !important;
}

.time {
    color: rgb(255, 255, 255);
    text-align: center;
    width: 20rem;
    height: 20rem;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto !important;
}

h2{
    font-size: 90pt;
}

.title{
 font-size: 25pt;
 font-weight: bold;
 color: #28a745;
}
